<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">


    <title>[[${author.name}]]'s Profile</title>
</head>
<body>
<!--PRIVATE PROFILE NAV BAR-->
<div th:fragment="navBar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Java Jobs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/newjob}">Post</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Jobs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/alljobs}">All Jobs</a>
                        <div class="dropdown-divider"></div>
                        <div th:each="author : ${authors}">
                            <a class="dropdown-item"
                               th:href="@{/jobsByAuthor/{id} (id=${author.id})}"
                               th:text="*{author.name}">
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <!--        <form class="form-inline my-2 my-lg-0">-->
            <!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--        </form>-->
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Profiles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/updateauthor/{id} (id=${author.id})}">Update Profile</a>
                    <a class="dropdown-item" th:href="@{/deleteauthor/{id} (id=${author.id})}">Delete Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/newauthor}">New Profile</a>
                    <div class="dropdown-divider"></div>
                    <div th:each="one : ${authors}">
                        <a class="dropdown-item"
                           th:href="@{/profile/{id} (id=${one.id})}"
                           th:text="*{one.name}">
                        </a>
                    </div>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
        </div>
    </nav>
</div>


<h1>[[${author.name}]]'s Profile</h1>

<!--<a th:href="@{/updateauthor/{id} (id=${author.id})}">Update Profile</a>-->
<!--<a th:href="@{/deleteauthor/{id} (id=${author.id})}">Delete Profile</a>-->

<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <h3>Manage Listings</h3>
            <div class="card">
                <div th:each="job : ${author.postedJobs}">
                    Name: [[${job.name}]] <br>
                    Description: [[${job.description}]] <br>
                    Posted Date: [[${job.postedDate}]] <br>
                    Phone number: [[${job.phone}]] <br>
                    Categories: <br>
                    <a th:href="@{/deletejob/{id} (id=${job.id})}">Delete Listing</a><br>
                    <a th:href="@{/updatejob/{id} (id=${job.id})}">Update Listing</a><br>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>